/*
Orange- #e67e22

*/
/*------------ BASIC SETUP --------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; /*ove stvari radim na pocetku svakog css fajla,iskljucim margine i padding*/
}
html,
body{/*iz nekog razloga dodat body, nisam siguran koja je razlika*/
    background-color: #fff; /*ovo je i po difoltu ovako, ali eto*/
    color: #555;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility; /*ovde biram da rendering engine (masina za prikazivanje) optimizuje kvalitet citljivosti naustrb
                                        geometrijske preciznosti i brzine ucitavanja stranice (treba bit pazljiv s ovim svojstvom)*/
    overflow-x: hidden; /*dodato nakon propmatranja ekrana na 500px, tekst ispada iz diva*/

} /*osnovna podesavanja za celu stranicu*/

html { /*kod linkova npr skroluje do odredjenog dela stranice koji je naznacen u linku, umesto da samo prebaci do tog dela strane
    takodje je precica za neke druge jquery funkcije i razne pluginove*/
scroll-behavior: smooth;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}


/*------------ REUSABLE --------------*/

.row{ /* sadrzaj ce biti prikazivan u redovima */
    max-width: 1140px; /* jedino ce ovo imati apsolutnu vrednost u pikselima*/
    margin: 0 auto; /* centriram kontejner */
}

section{
    padding: 80px 0; /* ovo koristim zapravo za stvaranje whitespace-a izmedju sekcija, iako se cini logicnim da napravim margin
                        ovako je potrebno, jer ce se kasnije dodati bg color sekcijama i ne treba nam belo izmedju
                        pa se whitespace kreira unutar elemenata */
}

.box{ /*dodata klasa da ne bih menjao onu iz grid.css*/
    padding: 1%;
}
/*------------ HEADINGS --------------*/

h1,h2,h3{
    font-weight: 300; /*veb dizajn pravilo,veliki font-smanjim font-weight*/
    text-transform: uppercase;
    letter-spacing: 1px;
}
h1{
    margin-top:0;/*u normalize css fajlu je podesena margina za h1,to skidam*/
    margin-bottom: 15px;
    color: #fff;
    font-size: 240%; /*procenti radi fleksibilnosti, ako promenim velicinu fonta u html selektoru ovo ce se automatski menjati*/
    word-spacing: 4px; /*za bolji izgled*/
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2::after{ /* koristim ovu pseudo-klasu da dodam malu narandzastu liniju ispod naslova */
    display: block; /* mora ovo,mislio sam da ne mora, bez toga ne radi*/
    height: 2px;
    background-color: #e67e22;
    content: "";
    margin: 0 auto; /* centriram, tako da bude ispod teksta lepo dizajnirano*/
    width: 100px;
    margin-top: 30px; /*odvajam liniju od h2 elementa, cudno malo jer se margin-bottom od h2 prenosi na deo ispod ove linije*/
}

h3{
    font-size: 110%;
    margin-bottom: 15px;
}


/*------------ PARAGRAPHS --------------*/
.long-copy{
    line-height: 145%; /* ovo je neki max od preporuke*/
    width: 70%; /*smanjujem sirinu zbog velikog broja znakova u jednom redu, ali to ne centrira novonastalu situaciju,treba da dodam
                  posebne margine, tj. da njima dopunim do 100% od vel kontejnera*/
    margin: 0 auto; /*moze ipak i ovako*/
}
.box p{
    font-size: 90%;
    line-height: 145%;
}

/*--------------------LINKS----------------*/
a:link,
a:visited{
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: color 0.2s border-bottom 0.2s;
    -o-transition: color 0.2s border-bottom 0.2s;
    transition: color 0.2s border-bottom 0.2s;
}

a:hover,
a:active{
    color: #555;/*boja na pocetku postavljena za celu stranicu, siva*/
    border-bottom: 1px solid transparent;
}



/*------------ ICONS --------------*/
.icon-big{ /*mogu da korigujem ikonice kao font,jer su one u sustini to*/
    font-size: 350%;
    display: block; /*da bi usledio line break, ne pravi nikakvu razliku u ovom slucaju,isto sve i bez njega*/
    color: #e67e22;
    margin-bottom: 10px;
}

.icon-small{
    display: inline-block; /*neophodno da bih mogao da ih korigujem kako hocu*/
    width: 30px;/* ovo zapravo siri kontejner koji sadrzi ikonice, njih ne manja nikako(za to je potreban font-size), samim tim 
                   ovo svojstvo omogucava poravnanje, stavi ikonice na centar kontejnera*/
    text-align: center;
    color: #e67e22;
    font-size: 120%;
    margin-right: 10px;
    /*secret to align icons and text*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -6px;
    /*ovo gore cudno funkcionise, morao sam da navedem vertical-align da bi radilo margin-top, mada sam mogao i bez margin-top. umesto
    toga je moglo odma vertical-align i tu trpam pixele koji pomeraju ikonicu gore ili dole-----ispravka, nisam mogao vertical-align
    zato sto on manipulise okolnim tekstom, i njega pomera u odnosu na ikonicu koja je staticka u stvari*/
}

/*------------ BUTTONS --------------*/

.btn:link,
.btn:visited,
input[type=submit]{
    display: inline-block; /* a - inline element po difoltu */
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
   -webkit-transition: background-color 0.2s,color 0.2s,border 0.2s;
   -o-transition: background-color 0.2s,color 0.2s,border 0.2s;
   transition: background-color 0.2s,color 0.2s,border 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit]{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 15px;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
   background-color: #cf6d17; /*kad predje preko "dugmeta" treba da se pojavi tamnija verzija boje koju sam dobio na sajtu 0to255*/
}

.btn-full:hover,
.btn-full:active,
input[type=submit]:hover,
input[type=submit]:active{
    border: 1px solid #cf6d17; /*menjam boju i bordure,to ne smem zaboraviti, dakle da bude u skladu sa pozadinom dugmeta*/
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

/*------------ HEADER --------------*/

header{
    background-image:-o-linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero-min.jpg);
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.7)),to(rgba(0,0,0,0.7))),url(img/hero-min.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/hero-min.jpg); /* ovo samo po sebi 
    zauzme samo prostor predvidjen za header deo,mora height da se definise
    ovako sam naveo dve pozadine,prva navedena ima prednost i prekriva drugu,stavio sam joj transparentnost da bi se videla
    i ova ispod nje */
    height: 100vh; /* ovo znaci 100viewport,dakle ceo ekran zauzmi*/
    background-size: cover;
    background-position: center;
    position: relative; /*ovaj deo je on ispustio u kursu, isprobavanjem sam došao do ovog, bez position:relative ovde 
    element dete traži prvog sledećeg roditelja čija je pozicija relativna, i u ovom slučaju to je cela stranica. Ovim pozicioniranjem
    dobijem očekivane rezultate, element dete se pomera u skladu sa smanjivanjem/povećanjem ovog kontejnera*/
    background-attachment:fixed;
}
.hero-text-box{ /*gornja napomena za position relative se odnosi na ovaj el. dete*/
    position: absolute; /*absolute da bih mogao pozicionirati vertikalno i horizontalno */
    width: 1140px; /* sirina kao red,to je izgleda standard za sajt po onom row, videcu jos kako ce se to koristiti*/
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%); /*ovo pomeri 50% od sirine elementa ulevo i 50% od visine elementa nagore*/
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px; /*odvojim logo od vrha stranice*/
}
.logo-black{ 
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
}/*dodato u delu sticky navigation,crna verzija logo slike*/
/* main navigation*/
.main-nav{
    float: right;
    list-style-type: none;
    margin-top: 55px;
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
   /* height: 40px;
    display: inline-block;*/ /*kad bi ovo uradio,pomerio bih tu donju borduru, to mi je i bio cilj da vidim*/
    padding: 8px 0; /*ovako je on to resio,doda padding i pomeri borduru za 8 px od teksta linka*/ 
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; /*ako hocu da se pojavi bordura na hoveru, ona mora biti definisana u normalnom stanju*/
    -webkit-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #e67e22; /*kad predjem link u listi da se pojavi donja bordura, to se radi cesto*/
}

/*mobile navigation*/
.mobile-nav-icon{
    float: right;
    margin-top: 30px;
    cursor: pointer; /*ovo jeste link a, ali nema href, i zato treba definisati da se pojavi ova rukica*/
    display: none; /*ne treba mi dok ne dodje do mob dimenzija*/
}
.mobile-nav-icon i{
    font-size: 200%;
    color: #fff;
}

/*sticky navigation*/
.sticky{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.98);
    width: 100%; /*mora ovo da se naznaci, inace ima samo sirinu elemenata, koja je do pola ekrana, ocigledno svojstvo
                  deteta div=row - max-width=1140px ne ide do krajnjih 1140px ako uzmem da uredjujem ovaj sticky nav,
                   nego do sirine svoje dece*/
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
    z-index: 9999; /*max z idnex*/
}
.sticky .main-nav{ margin-top: 18px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0; /*ovim pomeram narandzastu liniju za podvlacenje nadole*/
    color: #555;
}
.sticky .logo-black{
    display: block;
}
.sticky .logo{display: none;}

 /*------------------------FEATURES----------------------*/
.section-features .long-copy{ /*koristicu long-copy klasu kasnije, ovo je posebno za ovu sekciju*/
    margin-bottom: 30px;
}


 /*------------------------MEALS----------------------*/

.section-meals{
    padding: 0; /*overrajdujem section padding,ovde ne treba,lose izgleda*/
}

.meals-showcase{ /*ul*/
    list-style: none;
    width: 100%;
 /*   border: 3px solid blue;*//*koristio da proverim da li postoji(nema visinu) ovaj ul; ne postoji zato sto svi njegovi elementi float*/ 
}
/*
.meals-showcase::after{
    content:"";
    clear: both;
    display: table;
}
*/  /* ovo je bio clearfix datog ul-a koji radi kako sam ocekivao*/
.meals-showcase li{
    display: block; /*može i bez ovoga, float automatski daje elementu block svojstvo*/
    float: left;
    width: 25%;
}
.meal-photo{
    background-color: #000;
    width: 100%;
    margin: 0; /* u asterisk selktoru je vec 0 ali treba overrajdovati normalize.css*/
    overflow: hidden; /*odrezace visak, i brauzer nece imati skrol bar po horizontali*/
}
.meal-photo img{
    opacity: 0.7; /*ovo svojstvo podesim da bih zatamnio sliku koriscenjem bg-color:black u elementu roditelju, ako ne stavim nema efekta */ 
    width: 100%;/* siroka koliko i kontejner, popravi velicinu slike da opskrbi kontejner pravom velicinom*/
    height: auto;/*ovo po difoltu, ni ne moram stavljati*/
    -webkit-transform: scale(1.15);
        -ms-transform: scale(1.15);
            transform: scale(1.15); /*ideja je da u pocetku bude vece,posle hover pa manje, u ovom stadijumu iskace iz granica brauzera po x osi
                              zato moram gore overflow kontejnera da podesim*/
    -webkit-transition: opacity 0.5s,-webkit-transform 0.5s;
    transition: opacity 0.5s,-webkit-transform 0.5s;
    -o-transition: transform 0.5s,opacity 0.5s;
    transition: transform 0.5s,opacity 0.5s;
    transition: transform 0.5s,opacity 0.5s,-webkit-transform 0.5s; /*fini prelazi*/
}
.meal-photo img:hover{
    opacity: 1; /*ovim vracam originalnu sliku van uticaja bg colora,cilj je da se povrati svetlina*/
    -webkit-transform: scale(1.03);
        -ms-transform: scale(1.03);
            transform: scale(1.03); /*prvo scale(1) ali ostane bela linija ispod slike,ovako resen problem u hodu*/
}


/*---------------------HOW IT WORKS-------------------------*/

.section-steps{
    background-color: #f4f4f4; /*suptilna siva boja*/
}

.steps-box:first-child{ /*odnosi se na prvi stepsbox, tj. levu stranu*/
    text-align: right; /*text-align nije samo za tekst, svi inline i inline-block elementi su obuhvaceni*/
    padding-right: 3%; /*procenti za fluidni layout*/
    margin-top:30px ;
}
.steps-box:last-child{
    padding-left: 3%;
    margin-top:70px ;/*popravljanje izgleda u odnosu na levu stranu*/
}
.app-screen{
    width: 40%;/*40% od sirine kontejnera*/
}
.works-step{
   /* overflow: hidden; */ /*u prvi mah mi zatrebalo,cilj bio da element dete ima podjednako uvucene sve delove bez obzira da li se 
                            nalazi pored ili ispod brojeva kojima je postavljen float*/
    margin-bottom: 50px;
}
.works-step:last-of-type{
    margin-bottom: 80px;
}
.works-step div{ /*dizajniranje u brauzeru,isprobavam*/
   /* display: inline-block;*/ /*ovo je on stavio, ali to ne moze uz float,ignorise inline-block uz float i postavlja element svejedno
                                na block*/
    float: left;
    color: #e67e22;
    border: 2px solid #e67e22;
    height: 55px;
    width: 55px;
    padding: 5px; /*lepse pozicioniranje broja u okruglom okviru*/
    text-align: center; /*pozicioniranje broja*/
    border-radius: 50%; /*zaobljavanje,pravljenje kruga*/
    font-size: 150%;
    margin-right: 25px;
}
.btn-app:link,
.btn-app:visited{/*ovo sam ubacio naknadno, kad sam uredio difolt linkove dodelio sam im borduru dole u ovim stanjima, ovako prekrivam */
    border:0; /*ukini borduru*/
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

/*-------------CITIES----------------*/
.section-cities img{
    width: 100%;
    margin-bottom: 15px;
}
.city-feature{
    margin-bottom: 5px;
}


/*---------------TESTIMONIALS---------------*/

.section-testimonial{
    background-image:-o-linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
    background-image:-webkit-gradient(linear,left top, left bottom,from(rgba(0,0,0,0.8)),to(rgba(0,0,0,0.8))), url(img/back-customers-min.jpg);
    background-image:linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(img/back-customers-min.jpg);
    background-size: cover;
    color: white;
    background-attachment:fixed;/*fin efekat za pozadinu*/
}
blockquote{
    padding: 2%;
    font-style: italic; /*ovo moze jer sam uvezao u link rel u html dokumentu*/
    line-height: 145%;
    position: relative; /*::before je njegovo dete, posto ima absolute, treba mi ovo*/
    margin-top: 40px; /*odvajam od navodnika gornji deo*/
}

blockquote::before{
    content:"\201C"; /*spec karakteri za otvorene navodnike,ima sajt glyphs*/
    font-size: 500%;
    display: block; /*inace nije block element,to nisam znao, ovako dodajem line break sto mi treba u ovom slucaju,inace ide uz tekst*/
    position: absolute;
    top: -5px;
    left: -5px;
}

cite{
    font-size: 90%;
    margin-top: 25px;
    display: block; /*da bi dobio line break*/
}
cite img{
    height: 45px;
    border-radius: 50%;
    margin-right: 10px;
    vertical-align: middle; /*poravnanje slike i imena*/
}

/*------------SIGN UP--------------*/
.section-plans{
    background-color: #f4f4f4; /*bela-siva-bela-SIVA pozadina, takav sistem je odredio*/
}
.plan-box{
    background-color: white;
    border-radius: 5px;
    width: 90%; /*ovo svojstvo je cela poenta pravljenja ovog diva, nacin za menjanje sirine ove celine*/
    margin-left: 5%; /*90+5+5 , radi i auto istovetno*/
    -webkit-box-shadow: 0 2px 2px rgb(248, 248, 248);
            box-shadow: 0 2px 2px rgb(248, 248, 248);/*x-osa,y-osa,blur, boja - mogu negativne vrednosti za x,y osu, ako hocu da menjam smer
                                suptilna boja, box-shadow je cesto korisceno svojstvo*/
}

.plan-box div{
    padding: 15px;
    border-bottom: 1px solid #e8e8e8; /*suptilna donja bordura, jedva primetna*/
}

.plan-box div:first-child{
    background-color: rgb(250, 250, 250); /*dodajem suptilnu sivu pozadinu, jedva vidljivo da bude, opet suptilno,
                                            suptilnije boje i prelazi cine dizajn kvalitetnim, iz nekog razloga
                                            posle primene ovog, gubim border radius*/
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.plan-box div:last-child{
    text-align: center; /*centriram dugme, koje pripada poslednjem divu u plan-box klasi*/
    border-bottom: none; /*poslednji div ne treba da ima borduru dole*/
}
.plan-price{
    font-size: 300%;
    margin-bottom: 10px;
    font-weight: 100;/*velik font manje ovo, imam uvezeno 100 u link rel*/
    color: #e67e22; /*boja za isticanje ovog dela, cena je bitna i treba da privuce paznju dodatno korisnjenjem boje*/
}
.plan-price span{
    font-size: 30%; /*plan-price je roditelj ovog elementa, pa je reper za font-size element roditelj, a ne 20px celog dokumenta*/
    font-weight: 300; /*ovo svojstvo se nasledjuje od roditelja*/
}
.plan-price-meal{
    font-size: 80%;
}
.plan-box ul{
    list-style: none;
}
.plan-box ul li{
    padding: 5px 0;
}

/*---------------CONTACT FORM---------------*/
.contact-form{
    width: 60%; /*smanjujem, mnogo praznog prostora izmedju labela i inputa*/
    margin:0 auto; /*sad ovo umesto margin left: 20%,radi isti poso*/
}

input[type=text],/*novi selektor za mene*/
input[type=email],
select,
textarea{
    width: 100%;
    padding: 7px;/*malo ih jos povecavam*/
}

textarea{
    height: 100px;
}
/*formatiranje dugmeta koje je submit ide lagano zapravo, samo ga navedem za sve osobine formatiranja koje je prosao i link-dugme 
u btn delu---napomena: prvo sam stavio input[type]:link,input[type]:active kod tih delova i nije radilo, tu ide samo input[type]
u hover delu ide i hover i active bez problema*/

input[type=checkbox]{
    margin: 10px 5px 10px 0; /*formatiram cekboks za adekvatniji razmak izmedju elemenata*/
}
label.klasa{
    vertical-align: -8px; /*ovo sam sam dodao da malo poravnam labele i input polja, nema u kursu*/
}
*:focus{outline: none;}/* izbacujem okvir koji se pojavljuje kad kliknem na input elemente, to chrome dodaje sam, nova pseudo klasa*/


/*----------------FOOTER-----------------*/

footer{
    background-color: #333;
    padding-top: 50px;
    font-size: 80%;
}
.footer-nav,
.social-links{
    list-style: none;
}
.footer-nav {
    float: left;
}
.social-links{
    float: right;
}
.footer-nav li,
.social-links li{
    display: inline-block;
    margin-right: 20px;
}
.social-links li:last-child{
    margin-right: 0;
}
.footer-nav a:link,
.footer-nav a:visited,
.social-links a:link,
.social-links a:visited{
    border: none;
    color: #888;
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
.footer-nav a:hover,
.footer-nav a:active{
    color: #ddd;
}
.social-links{
    font-size: 160%;
}
/*
.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram{
    -webkit-transition: color 0.2s;
    -o-transition: color 0.2s;
    transition: color 0.2s;
}
suvisno
*/
.ion-social-facebook:hover{
    color: #3b5999;
}
.ion-social-twitter:hover{
    color: #55acee;
}
.ion-social-googleplus:hover{
    color: #dd4b39;
}
.ion-social-instagram:hover{
    color: #e4405f;
}
footer p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

/*----------------ANIMATIONS-----------------*/

.js--wp-1,
.js--wp-2,
.js--wp-3
{ /*sakrivam sadrzaj radi adekvatne aplikacije animacije fadeIn*/
    -webkit-animation-duration: 1s;
            animation-duration: 1s; /*cilj da ubrzam izvodjenje animacija*/
    opacity: 0;
}
.js--wp-4{
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}
/*  */
.js--wp-1.animate__animated,
.js--wp-2.animate__animated,
.js--wp-3.animate__animated{ /*nakon dodavanja animate__animated klase pomocu js-a kreiram ovakav selektor, ovo u stvari 
                             znaci da selektuje element koji ima i klasu js--wp-1 i klasu animate__animated */
    opacity: 1;
}
